<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="util.js"></script>
<script src="draw.js"></script>
<script src="animation.js"></script>
<script src="keyboard.js"></script>
<link rel="stylesheet" type="text/css" href="gwarl.css">
<script src="gwarl.js"></script>
</head>
<body>
<div id="graphics">
	<img id="uibars" class="graphic" src="./img/uigraphics/bars.png"></img>
	<img id="uicast" class="graphic" src="./img/uigraphics/cast.png"></img>
	<img id="uiexplore" class="graphic" src="./img/uigraphics/explore.png"></img>
	<img id="uifight" class="graphic" src="./img/uigraphics/fight.png"></img>
	<img id="uiinfobox" class="graphic" src="./img/uigraphics/infobox.png"></img>
	<img id="uiitembutton" class="graphic" src="./img/uigraphics/itembutton.png"></img>
	<img id="uiitems" class="graphic" src="./img/uigraphics/items.png"></img>
	<img id="uimagic" class="graphic" src="./img/uigraphics/magic.png"></img>
	<img id="uimagicbutton" class="graphic" src="./img/uigraphics/magicbutton.png"></img>
	<img id="uioptions" class="graphic" src="./img/uigraphics/options.png"></img>
	<img id="uioptionsbuttons" class="graphic" src="./img/uigraphics/optionsbuttons.png"></img>
	<img id="uirest" class="graphic" src="./img/uigraphics/rest.png"></img>
	<img id="uiskills" class="graphic" src="./img/uigraphics/skills.png"></img>
	<img id="uiskillbutton" class="graphic" src="./img/uigraphics/skillbutton.png"></img>
	<img id="uistats" class="graphic" src="./img/uigraphics/stats.png"></img>

<img id="none" class="graphic" src="./img/resized/none36.png">
<img id="none144" class="graphic" src="./img/resized/none144.png">
<img id="wall" class="graphic" src="./img/resized/wall36.png">
<img id="floor" class="graphic" src="./img/resized/floor36.png">
<img id="stairup" class="graphic" src="./img/resized/stairup36.png">
<img id="stairdown" class="graphic" src="./img/resized/stairdown36.png">

<img id="potion144" class="graphic" src="./img/resized/potion144.png">
<img id="potion" class="graphic" src="./img/resized/potion36.png">
<img id="ring144" class="graphic" src="./img/resized/ring144.png">
<img id="ring" class="graphic" src="./img/resized/ring36.png">
<%- include('images') %>

<img id="decal1" class="graphic" src="./img/resized/decal136.png">
<img id="decal2" class="graphic" src="./img/resized/decal236.png">
<img id="decal3" class="graphic" src="./img/resized/decal336.png">
<img id="decal4" class="graphic" src="./img/resized/decal436.png">
<img id="decal5" class="graphic" src="./img/resized/decal536.png">
<img id="decal6" class="graphic" src="./img/resized/decal636.png">
<img id="decal7" class="graphic" src="./img/resized/decal736.png">
<img id="decal8" class="graphic" src="./img/resized/decal836.png">
<img id="decal9" class="graphic" src="./img/resized/decal936.png">
</div>
<div id="game">

<div id="sidebar">
	<canvas id="controls" width="388" height="518"></canvas>
	<div id="movelog">
	</div>	
</div>
<div id="mapcontainer">
	<div id="loadingscreen">
	</div>
	<div id="menu">
		<button id="newlevel">New game/continue</button>
		<div id="help">
		<h2>Controls:</h2>
		<h3>Mouse:</h3>
		<p>Click to move or attack. Shift+click to cast a spell with a target. Click the player tile to pass a turn or get an item. Click items in the inventory to use them.</p>
		<h3>Keyboard:</h3>
		<p>Numpad and arrow keys move*. Numpad 5 to pass a turn or pick up an item. E to explore and descend staircases, F to fight the closest enemy, R to rest, G to get an item off the ground, C to cast the currently selected spell at the nearest creature.</p>
		<p>*check if numlock is on if unable to move diagonally</p>
		<p>There is music hidden in the options panel</p>
		</div>
	</div>
	<div id="deathscreen">
	</div>
	<canvas id="map" width="612" height="612"></canvas>
</div>
</div>
<div id="debug"></div>
<div id="outtakes">
</div>
</body>
</html>
