<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Menu</title>
    <link rel="stylesheet" href="/gwarl.css">
</head>
<body>
    <div class="menu-container">
        <h1>Main Menu</h1>
        <ul>
            <li><a href="/new-game">Start New Game</a></li>
            <li><a href="/list-saves">Load Game</a></li>
        </ul>
    </div>
</body>
</html>
